*.o
*~
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.log
/config.rpath
/config.status
/config.sub
/configure
/depcomp
/gitignore
/install-sh
/m4
/missing
/data/Makefile
/data/Makefile.in
/data/quickpad.desktop
/po/*.gmo
/po/*.header
/po/*.mo
/po/*.sed
/po/*.sin
/po/.intltool-merge-cache
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/Makefile.in.in~
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/stamp-it
/po/stamp-po
/src/.deps/
/src/Makefile
/src/Makefile.in
/src/quickpad
/src/quickpad.gresources.c
/src/quickpad.gresources.h
/src/net.thepozer.quickpad.gschema.valid
